<!DOCTYPE html>
#macro(invoke $page)
#if($page.startsWith("/"))
#parse($page)
#else
#set($uri = $request.getAttribute("javax.servlet.include.request_uri"))
#if(!$uri)#set($uri = $request.getServletPath())#end
#set($path = $uri.substring(0, $uri.lastIndexOf("/")))
#parse("$path/$page")
#end
#end
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    #parse("common/common.html")
</head>

<body class="fixed-sidebar full-height-layout gray-bg pace-done" style="overflow:hidden">
    <div id="wrapper" class="backstage-right">
    #parse("common/menu.html")
        <div id="page-wrapper" class="gray-bg dashbard-1">
            $!{Author}欢迎使用小二后台
            $!{bidChannelMap}
        </div>
    </div>
</body>
