<script type="text/javascript" src="${request.contextPath}/resource/js/emergency.js"></script>
<div class="ibox float-e-margins backstage-right-div">
    <div class="ibox-content">
        <input id="contextParam" type="hidden" value="${request.contextPath}"/>
        <form method="get" class="form-horizontal">
            <div class="form-group backstage-form-group">
                <div class="col-sm-10 backstage-col-sm-10">
                    <span class="emergency-title">配置服务</span>
                </div>
            </div>
            <div class="hr-line-dashed backstage-hr-line-dashed"></div>
            <div class="form-group backstage-form-group">
                <label class="col-sm-2 control-label backstage-select-label">配置信息项:</label>
                <div class="col-sm-10 backstage-col-sm-10" style="width:250px;">
                    <select class="form-control m-b backstage-select" name="configKey" id="configKey">
                        <option value="">--选择配置信息项--</option>
                        <option value="xr:cfca:status">CFCA服务状态</option>
                        <option value="xr:credit:user:limit">create用户数限流</option>
                        <option value="xr:credit:freeze:days">create拒绝冻结天数</option>
                        <option value="xr:withdraw:freeze:days">取现拒绝冻结天数</option>
                        <option value="xr:credit:user:op:message">运营消息</option>
                        <option value="xr:huihua:display:agreement">展示协议弹层</option>
                        <option value="xr:huihua:repay:fee:ratio">flush费率明细</option>
                        <option value="xr:huihua:userstatus:banner">账户状态文案</option>
                    </select>
                </div>
                <div class="col-sm-2 backstage-select-label">
                    <button type="button" class="btn btn-w-m btn-danger backstage-button" style="display: inline" onclick="getRedisConfig()">查&nbsp;&nbsp;&nbsp;&nbsp;询</button>
                </div>
                <div class="col-sm-10 backstage-col-sm-10">
                    <button type="button" class="btn btn-w-m btn-danger backstage-button" style="display: inline" onclick="configRedis()">更&nbsp;&nbsp;&nbsp;&nbsp;新</button>
                </div>
            </div>
            <div class="hr-line-dashed backstage-hr-line-dashed"></div>
            <div class="form-group backstage-form-group" style="height:500px;">
                <label class="col-sm-2 control-label backstage-select-label">配置信息值:</label>
                <div class="col-sm-10 backstage-col-sm-10">
                    <textarea class="form-control backstage-input" style="display: inline;width:800px;" id="configValue" name="configValue" placeholder="配置的值" rows="6" cols="100"></textarea>
                </div>
                <div class="hr-line-dashed backstage-hr-line-dashed"></div>
            </div>
        </form>
    </div>
</div>
