<div class="ibox float-e-margins backstage-right-div">
    <div class="ibox-content">
        <input id="contextParam" type="hidden" value="${request.contextPath}"/>
        <form method="get" class="form-horizontal">
            <div class="form-group backstage-form-group">
                <div class="col-sm-10 backstage-col-sm-10">
                    <span class="emergency-title">发送ESB消息</span>
                </div>
            </div>
            <div class="hr-line-dashed backstage-hr-line-dashed"></div>
            <div class="form-group backstage-form-group">
                <label class="col-sm-2 control-label backstage-select-label">ESB注册名称:</label>
                <div class="col-sm-10 backstage-col-sm-10">
                    <select class="form-control m-b backstage-select registerName" name="registerName" id="payChannel">
                        <option value="">--选择ESB注册名称--</option>
                        <option value="loanIn2risk">小二发risk(loanIn2risk)</option>
                        <option value="risk2loanIn">risk发送小二(risk2loanIn))</option>
                    </select>
                </div>
            </div>
            <div class="hr-line-dashed backstage-hr-line-dashed"></div>
            <div class="form-group backstage-form-group h120">
                <label class="col-sm-2 control-label backstage-select-label">ESB JSON数据:</label>
                <div class="col-sm-10 backstage-col-sm-10">
                    <textarea rows="5" cols="500"  class="form-control esbJson" style="display: inline" type="text" id="esbJson" name="esbJson" placeholder="必须为合法的JSON">
                    </textarea>
                </div>
                <div class="hr-line-dashed backstage-hr-line-dashed"></div>
            </div>
            <div class="hr-line-dashed backstage-hr-line-dashed"></div>
            <div class="form-group backstage-form-group">
                <label class="col-sm-2 control-label backstage-select-label">&nbsp;</label>
                <div class="col-sm-10 backstage-col-sm-10">
                    <button type="button" class="btn btn-w-m btn-danger backstage-button" style="display: inline" onclick="sendJsonEsb()">发&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;送</button>
                </div>
                <div class="hr-line-dashed backstage-hr-line-dashed"></div>
            </div>
        </form>
    </div>
</div>

