<!-- Going列表  -->
<div><label class="col-sm-2 control-label backstage-select-label">skywhat</label></div>
<div class="ibox float-e-margins backstage-right-div">
    <div class="ibox-content">
        <form method="get" class="form-horizontal">
            <div class="hr-line-dashed backstage-hr-line-dashed"></div>
            <div class="form-group backstage-form-group">
                <label class="col-sm-2 control-label backstage-select-label">UID:</label>
                <div class="col-sm-10 backstage-col-sm-10">
                    <input placeholder="请输入UID" class="form-control backstage-input" type="text" id="uid" name="uid">
                </div>
            </div>
            <div class="hr-line-dashed backstage-hr-line-dashed"></div>
            <!-- 操作按钮 -->
            <div class="form-group backstage-form-group">
                <div class="col-sm-10 backstage-col-sm-10">
                    <button type="button" class="btn btn-w-m btn-danger backstage-button" onclick="search()">查&nbsp;&nbsp;&nbsp;询</button>
                </div>
            </div>
            <div class="hr-line-dashed backstage-hr-line-dashed"></div>
        </form>
    </div>
    <div class="ibox-content">
        <div class="bootstrap-table table-responsive backstage-table-div">
            <div class="fixed-table-container">
                <table id="table"></table>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- 隐藏域 -->
<div style="display: none">
    <!-- 如果点击搜索,则需要将页码制为1 -->
    <input id="ifPageOne" name="ifPageOne" value="0"/>
</div>
<script type="text/javascript">

    //table
    $('#table').bootstrapTable({
        cache: false,
        method: 'post',
        contentType: 'application/x-www-form-urlencoded',
        dataType: 'json',
        url: '${request.contextPath}/private/user/info/data',
        undefinedText: '-',
        striped: true,
        pagination: true,
        sidePagination: 'server',
        pageSize: 10,
        pageNumber: 1,
        pageList: [],
        queryParams: queryParams,
        columns: [
            {
                field: 'number',
                title: '序号',
                width: "50px",
                formatter: function (value, row, index) {
                    return index + 1;
                }
            }, {
                field: 'uid',
                title: 'uid'
            }, {
                field: 'companyName',
                title: 'companyName',
                width: "50px"
            }, {
                field: 'companyTel',
                title: 'companyTel'
            }, {
                field: 'inCome',
                title: 'inCome',
                width: "50px"
            }, {
                field: 'eduCode',
                title: 'eduCode',
                width: "50px"
            }, {
                field: 'eduName',
                title: 'eduName',
                width: "50px"
            }, {
                field: 'companyProvinceCode',
                title: 'companyProvinceCode',
                width: "120px"
            }, {
                field: 'companyProvinceName',
                title: 'companyProvinceName',
                width: "120px"
            }, {
                field: 'companyCityCode',
                title: 'companyCityCode'
            }, {
                field: 'companyCityName',
                title: 'companyCityName'
            }, {
                field: 'companyCountyCode',
                title: 'companyCountyCode'
            }, {
                field: 'companyCountyName',
                title: 'companyCountyName'
            }, {
                field: 'companyAddress',
                title: 'companyAddress'
            }, {
                field: 'livingProvinceCode',
                title: 'livingProvinceCode'
            }, {
                field: 'livingCityCode',
                title: 'livingCityCode'
            }, {
                field: 'livingCityName',
                title: 'livingCityName'
            }, {
                field: 'livingCountyCode',
                title: 'livingCountyCode'
            }, {
                field: 'livingCountyName',
                title: 'livingCountyName'
            }, {
                field: 'livingAddress',
                title: 'livingAddress'
            }, {
                field: 'email',
                title: 'email'
            }, {
                field: 'contactRelation',
                title: 'contactRelation'
            }, {
                field: 'contactName',
                title: 'contactName'
            }, {
                field: 'contactMobile',
                title: 'contactMobile'
            }, {
                field: 'bankId',
                title: 'bankId'
            }, {
                field: 'longitude',
                title: 'longitude'
            }, {
                field: 'latitude',
                title: 'latitude'
            }]
    })

    //设置查询参数
    function queryParams(params) {
        if($("#ifPageOne").val() == 1) {
            params.offset = 0;
            var obj = $('#table').bootstrapTable('getOptions');
            obj.pageNumber = 1;
            $("#ifPageOne").val(0);
        }
        var obj = {
            pageSize: params.limit,
            pageNumber: params.offset/10 + 1,
            uid: $("#uid").val(),
            loanId: $("#loanId").val()
        }
        return obj;
    }
    //查询按钮方法
    function search() {
        var uid = $("#uid").val().trim();
        if (uid == undefined  || uid == "" || uid == NaN || uid == null) {
            alert("请输入数字类型uid");
            return;
        }
        $("#ifPageOne").val(1);
        $('#table').bootstrapTable('removeAll');
        $('#table').bootstrapTable('refresh');
    }
</script>
