<!-- Going列表  -->
<div><label class="col-sm-2 control-label backstage-select-label">skycreateamount信息</label></div>
<div class="ibox float-e-margins backstage-right-div">
    <input id="contextParam" type="hidden" value="${request.contextPath}"/>
    <div class="ibox-content">
        <form method="get" class="form-horizontal">
            <div class="hr-line-dashed backstage-hr-line-dashed"></div>
            <div class="form-group backstage-form-group">
                <label class="col-sm-2 control-label backstage-select-label">UID:</label>
                <div class="col-sm-10 backstage-col-sm-10">
                    <input placeholder="请输入UID" class="form-control backstage-input" type="text" id="uid" name="uid">
                </div>
            </div>
            <div class="hr-line-dashed backstage-hr-line-dashed"></div>
            <!-- 操作按钮 -->
            <div class="form-group backstage-form-group">
                <div class="col-sm-2 backstage-select-label">
                    <button type="button" class="btn btn-w-m btn-danger backstage-button" onclick="search()">查&nbsp;&nbsp;&nbsp;询</button>
                </div>
            </div>
            <div class="hr-line-dashed backstage-hr-line-dashed"></div>
        </form>
    </div>
    <div class="ibox-content">
        <div class="bootstrap-table table-responsive backstage-table-div">
            <div class="fixed-table-container">
                <table id="table"></table>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- 隐藏域 -->
<div style="display: none">
    <!-- 如果点击搜索,则需要将页码制为1 -->
    <input id="ifPageOne" name="ifPageOne" value="0"/>
</div>
<script type="text/javascript">

    //table
    $('#table').bootstrapTable({
        cache: false,
        method: 'post',
        contentType: 'application/x-www-form-urlencoded',
        dataType: 'json',
        url: '${request.contextPath}/private/credit/amount/data',
        undefinedText: '-',
        striped: true,
        pagination: true,
        sidePagination: 'server',
        pageSize: 10,
        pageNumber: 1,
        pageList: [],
        queryParams: queryParams,
        columns: [
            {
                field: 'number',
                title: '序号',
                width: "50px",
                formatter: function (value, row, index) {
                    return index + 1;
                }
            },{
                field: 'uid',
                title: 'UID',
                width: "50px"
            }, {
                field: 'createTime',
                title: '创建时间',
                formatter:function (value, row, index) {
                    if (undefined ==  value || '' == value) {
                        return;
                    } else {
                        return formatTimestamp(value)
                    }
                }
            },  {
                field: 'updateTime',
                title: '更新时间',
                formatter:function (value, row, index) {
                    if (undefined ==  value || '' == value) {
                        return;
                    } else {
                        return formatTimestamp(value)
                    }
                }
            }, {
                field: 'effectTime',
                title: '生效时间',
                formatter:function (value, row, index) {
                    if (undefined ==  value || '' == value) {
                        return;
                    } else {
                        return formatTimestamp(value)
                    }
                }
            }, {
                field: 'expireTime',
                title: '过期时间',
                formatter:function (value, row, index) {
                    if (undefined ==  value || '' == value) {
                        return;
                    } else {
                        return formatTimestamp(value)
                    }
                }
            }, {
                field: 'creditQuota',
                title: 'createamount(元)',
                width: "50px",
                formatter: money_formatter
            }, {
                field: 'creditAvailable',
                title: '可用amount(元)',
                formatter: money_formatter
            }, {
                field: 'loanType',
                title: 'flush类型'
            }, {
                field: 'bidChannel',
                title: 'channel'
            }]
    })

    //设置查询参数
    function queryParams(params) {
        if($("#ifPageOne").val() == 1) {
            params.offset = 0;
            var obj = $('#table').bootstrapTable('getOptions');
            obj.pageNumber = 1;
            $("#ifPageOne").val(0);
        }
        var obj = {
            pageSize: params.limit,
            pageNumber: params.offset/10 + 1,
            uid: $("#uid").val(),
            loanId: $("#loanId").val()
        }
        return obj;
    }
    //查询按钮方法
    function search() {
        var uid = $("#uid").val().trim();
        if (uid == undefined  || uid == "" || uid == NaN || uid == null) {
            alert("请输入数字类型uid");
            return;
        }
        $("#ifPageOne").val(1);
        $('#table').bootstrapTable('removeAll');
        $('#table').bootstrapTable('refresh');
    }

    function deleteIcAmByUid(){
        var contextParam = $("#contextParam").val();
        var uid = $("#uid").val().trim();
        if (undefined == uid || '' ==  uid) {
            alert("请输入UID");
            return;
        }
        if(!window.confirm("确实要删除UID为" + uid + "的whoAm数据吗？删除后不可恢复.")) {
            return;
        }
        $.ajax({
            url: contextParam + '/private/idCard/Am/delete',
            type: 'post',
            dataType: 'json',
            data: {
                uid : uid
            },
            success: function(data) {
                alert(JSON.stringify(data));
                return false;
            },
            error: function (data) {
                alert(JSON.stringify(data));
                return false;
            }
        })
    }
    function money_formatter(value, row, index) {
        if (undefined ==  value) {
            return;
        } else {
            return (value/100.0).toFixed(2);
        }
    }
</script>
